<script language="javascript">
    function showExportDialog() {
        var dialog = $("#excelDialog").removeClass('hide').dialog({
            modal: true,
            resizable: false,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> Export</h4></div>",
            title_html: true
        });
    }
    function postToServer() {
        var urlParam = "?excelList=" + categoryName + "&historyPage=" + historyPage + "&renderType=" + $('input[name="renderType"]:checked').val();
        var queryParam = $.param($("#form-searchBox").biSearchBox('getData'));
        if(queryParam != "") {
            urlParam += ("&" + queryParam);
        }
        window.open('@Url.Content("~/CostingMasterData/DownloadExcel")' + urlParam);
        $("#excelDialog").dialog("close");
    }
</script>
<div id="excelDialog" class="hide">
    <table style="width:100%; height:60px" cellpadding="2" cellspacing="2">
        <tr>
            <td colspan="2" style=" padding-top:10px">
                <label class="control-label "> &nbsp;Render Type:</label>
                <label class="blue">
                    <input name="renderType" value="1" type="radio" class="ace" checked />
                    <span class="lbl"> Horizontal</span>
                </label>
                <label class="blue">
                    <input name="renderType" value="2" type="radio" class="ace" />
                    <span class="lbl"> Vertical</span>
                </label>
                <br>
            </td>
            <td valign="bottom" align="center">
                <button id="btnHidden" style="display:none"></button>
                <button id="btnExport" class="btn btn-app btn-success btn-sm" onclick="postToServer();return false;"><i class="icon-save small-30"></i></button>
            </td>
        </tr>
        <tr></tr>
    </table>
</div>