<style>

    .form-actions {
        border-top: 0px solid #e5e5e5;
        margin-bottom: 5px;
        margin-top: 0px;
        padding: 15px 15px 15px;
    }
</style>
<div id="profileDelegation" class="profile-feed" style="overflow-y:auto; height:250px">
</div>
<div class="form-actions">
    <div class="input-group">
        <input placeholder="input account or name here ..." type="text" id="txtAddDelegation" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-sm btn-info no-radius" type="button" id="btnAddDelegation">
                <i class="icon-ok"></i>
                Add
            </button>
        </span>
    </div>
</div>
