<!DOCTYPE html>

<html lang="en" style="">


@RenderSection("head",true)
<body style="overflow-x:auto">
        @Html.Partial("_Headpartial")
        @Html.Partial("_Menupartial")
        @RenderSection("featured",true)    
        
    </body>

    </html>
