<style type='text/css'>
    p, span, div, table tr td {
        font: 12px verdana,microsoft sans serif;
    }
</style>
<div style='font:12px Verdana,microsoft sans serif'>
    <div><img src='https://sgp-sys.multek.com/Common/Content/Images/Multek-ID-PMS.gif' /></div><br />
    Dear VVI Team<br><br>

    The vendor RFQ <b>@{NVARCHAR1},</b> has been Submitted.<br><br>

    Please find below detailed summary.<br><br>

    <table style="width:0in;border-collapse:collapse;border-spacing:1">
        <tr>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">RFQ</td>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">Customer Part#</td>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">Revision</td>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">Market Segment</td>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">Product Application</td>
            <td style="border:inset #CCCCCC 1.0pt;background:#CCCCCC;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">Mass Production EAU</td>
        </tr>
        <tr>
            <td style="border:inset #CCCCCC 1.0pt;border-top:none;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR1}</td>
            <td style="border-top:none;border-left:none;border-bottom:inset #CCCCCC 1.0pt;border-right:inset #CCCCCC 1.0pt;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR2}</td>
            <td style="border-top:none;border-left:none;border-bottom:inset #CCCCCC 1.0pt;border-right:inset #CCCCCC 1.0pt;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR3}</td>
            <td style="border-top:none;border-left:none;border-bottom:inset #CCCCCC 1.0pt;border-right:inset #CCCCCC 1.0pt;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR4}</td>
            <td style="border-top:none;border-left:none;border-bottom:inset #CCCCCC 1.0pt;border-right:inset #CCCCCC 1.0pt;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR5}</td>
            <td style="border-top:none;border-left:none;border-bottom:inset #CCCCCC 1.0pt;border-right:inset #CCCCCC 1.0pt;padding:1.5pt 1.5pt 1.5pt 1.5pt;white-space:nowrap">@{NVARCHAR6}</td>
        </tr>
    </table>

    <p>
        Click here to view detail. <a href="@{SystemURL}/VVI/SupplierPricingDetail?ID=@{RFQID}&number=@{NVARCHAR1}">
    LINK
</a>
    </p>

    <p>

        If there are any issues, a team member from Multek Commodity will reach out to you.<br><br>

        Best,<br>
        Multek Commodity Team<br><br>
    </p>

    <p>
        * Please do not reply to this email since it is from an automated mailbox. We are unable to respond to your queries via return email.
    </p>
</div>