<style type='text/css'>
    p, span, div, table tr td {
        font: 12px verdana,microsoft sans serif;
    }
</style>
<div style='font:12px Verdana,microsoft sans serif'>

    Dear All,<br><br>

    Attached please find the PCB Fortnightly Newsletter which released by @{Creator} on @{CreateDate}.

    <p>
        <b>Thanks & Regards.</b><br />
        <b>* Please do not reply to this email since it is from an automated mailbox. We are unable to respond to your queries via return email. </b>
    </p>
    <div><img src='https://sgp-sys.multek.com/Common/Content/Images/Multek-ID-PMS.gif' /></div><br />
</div>